

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIAVELS */
:root {
  --background: #e1faed;
  --contrast: #c5f8de;
  --font-all: 'Montserrat', sans-serif;
  /* Header */
  --title: #585858;
  --font-title:'DM Serif Display', serif;
  --subtitle: #1a2d1d;
  /* about me */
  --fontsize-aboutme: 35px;
  /* others */

}

body {
  background-color: var(--background);
}

.all-home{
  font-family: var(--font-all);
  color: var(--title);
  margin: 1rem 3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.home-header {
  display: grid;
  grid-template-areas:
    "header"
    "aboutme"
    ;
  grid-gap: 0 2rem;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50vh;
  justify-content: center;
  
  
}

.header {
  justify-items: center;
  justify-content: center;
  grid-area: header;
  border-left: #585858 solid;
  padding-left: 20px;
}

.aboutme {
  align-items: center;
  text-align: center;
  justify-content: center;
  grid-area: aboutme;
  background-color: var(--contrast);
  background-size: auto;
  padding: 10px;
  width: 390px;
  height: 420px;
  border-radius: 30px;
  
}

/* .header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  line-height: 200%;
  max-width: 42rem;
}

.aboutme {
  grid-area: aboutme;
  display: flex;
}
 */
h1 {
  font-size: 5rem;
  font-family: var(--font-title);
  margin-bottom: 7px;
}

#title-aboutme {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0 1rem 0 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#text-aboutme {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

#twitter, #instagram, #linkedin {
  width: 30px;
  margin-top: 10px;
}

#github {
  width: 28.5px;
}

#photo {
  width: 250px;
  border-radius: 50px;
  
}

#title-aboutme {
  font-size: 35px;
  font-family: var(--font-title);
}
